#menu ul {
    padding:0px;
    margin:0px;
    background-color: blue;
    list-style: none;
}
#menu ul li { display: inline; }

#menu ul li a {
    padding: 2px 10px;
    display: inline-block;

    /* visual do linnk */
    background-color:blue;
    color: white;
    text-decoration:white;
    border-bottom:3px solid blue;
}

#menu ul li a:hover {
    background-color: white;
    color: blue;
    border-bottom:3px solid white;
}